################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Thumbs.db
/user32.dll
/.vs/PoShDualExplorers/v14
/Win32.dll
