################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Thumbs.db
/settings*.xml
/WPF
/assets
/Win32.dll
PoshDualExplorers.lnk