################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Thumbs.db
/Win32.dll
/*.lnk
/WPF
/assets
